/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-nov-2017, 20:47:49
    Author     : Claudia
*/
.Caja_Nombre {
    width: auto;
    height: 50px;
    position: relative;
}

.Caja_Boton {
    width: auto;
    height: auto;
    padding: 3px;
    border: 1px solid #CCC;
    border-radius: 2em; 
    position: relative;
    background:#638cb5;
}

.Caja_Boton div + div {
    margin-top: 1em;
}

.caja{
    background: white;
    float: left;
    width: 180px;
    height: 250px;
    text-align: center;
    border: 1px solid #DF7401;
    border-radius: 10px;
    margin:3px 3px 3px 3px;
}

.contenedor{
    background: white;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-left: 100px    
}

.contenedor_solo{
    background: white;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-left: 80px
}

.caja_sola{
    background: white;
    float: left;
    width: 250px;
    height: auto;
    text-align: center;
    border: 1px solid #DF7401;
    border-radius: 10px;
    font-family: arial;   
    margin-right: 80px;
}

.caja_descripcion{       
    background: white;
    width: auto;
    max-width: 1000px;
    height: auto;
    text-align: justify;
    border: 0px solid #E2E2E2;
    border-radius: 10px;
    padding: 15px;
    font-family: arial;
    font-size: 15px;  
    margin-right: 20px
}

.Boton_Detalles{
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#638cb5;
        border:0px;
        width:80px;
        height:19px;
}
    
.Paginacion{  
    position:relative;
    width:100%;
    height:auto;
    overflow: hidden;
}


ul.pagination {    
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}


@media only screen and (max-width :600px) {   
    .Caja_Nombre {
    width: auto;
    height: 55px;
    position: relative;
    }
        
    .contenedor{
    background: white;
    width: 360px;
    height: auto;
    margin:auto;
    margin-top: 20px;    
    }
        
    .caja{
    background: white;
    float: left;
    width: 180px;
    height: auto;
    text-align: center;
    border: 1px solid #DF7401;
    border-radius: 10px;
    margin:0px;
    display: block;
    }
    
    .caja_sola{
    background: white;
    float: left;
    width: 180px;
    height: auto;
    text-align: center;
    border: 1px solid #DF7401;
    border-radius: 10px;
    font-family: arial;  
    margin-right: 10px;
    }

    .caja_descripcion{
        background: white;
        float: left;
        width: auto;
        max-width: 180px;
        height: auto;
        text-align: left;
        border: 0px solid #E2E2E2;
        border-radius: 10px;
        padding: 15px;
        font-family: arial;
        font-size: 15px; 
        margin-left: 0px;
        display: block;    
    }
}

